*,
*::after *::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

body ul li {
  list-style-type: none;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;

}

/* HEADER */
.text-highlight {
  text-decoration: none;
  color: rgba(255, 158, 70, 0.95)
}

.text-highlight a :hover {
  color: rgba(36, 179, 198, 0.95)
}

.text-highlight-blk {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.95)
}

.text-highlight-blk:hover {
  color: rgba(175, 108, 46, 0.95)
}

.text-highlight-wht {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95)
}

.text-highlight-wht:hover {
  color: rgba(255, 158, 70, 0.95)
}

.head-bg {
  position: relative;
  background-image: url("images/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 670px;
  max-width: 100%;
  padding-right: 0;
  padding-top: 20px;
  padding-left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  margin-bottom: 90px;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  max-width: 90px;
  height: auto;
}

#logo {
  display: flex;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.search-nav-container {
  display: flex;
  flex-direction: row;
}

.flex-nav {
  display: flex;
  gap: 25px;
  width: max-content;
  padding: 0;
}

.logo-text {
  width: 380px;
  color: white;
  margin: 0;
}

.logo-text h1 {
  margin: 0;
  font-size: 7vh;
  font-weight: 900;
}

.logo-text h4 {
  margin-top: -10px;
}

nav ul li a {
  color: white;
}

.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 50em) {

  .header-bg {
    height: 150px !important;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .head-bg {
    height: 1000px;
    clip-path: none;
  }

  .primary-nav {
    position: fixed;
    inset: 0 0 0 30%;

    padding: min(30vh, 5em) 0em;

    background-image: linear-gradient(rgba(187, 209, 231, 0.5), #fe994685) !important;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-out;

  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0);
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-nav {
      background: rgba(187, 209, 231, 0.5);
      backdrop-filter: blur(1rem);
    }
  }

  .flex-nav {
    gap: 20px;
    flex-direction: column;
    max-width: 100%;
    padding: 0 !important;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url('images/hamburger.svg');
    background-repeat: no-repeat;
    border: 0;
    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('images/eks.svg');
    position: fixed;
  }

  .logo-text h1 {
    font-size: 6vh;
    font-weight: 900;
  }

  .mb-3 {
    margin-right: auto !important;
    width: auto !important;
  }

  .cta-main {
    text-align: center;
    font-size: 50px !important;
    font-weight: 800 !important;
    margin: 0 50px !important;
  }

  .right {
    display: flex;
    align-items: center;
    height: 400px;
  }

  .right img {
    height: 100%;
    margin: 5px auto;
  }

  .cta-sub {
    text-align: center;
    font-weight: 700;
    font-size: 35px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .cta-search {
    display: flex;
    flex-direction: row;
    width: 350px;
  }

  .search-button {
    margin-inline-end: 0 !important;
  }

  .search {
    width: 200px !important;
  }

  .search-login {}

  .cta-search-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(-5px 5px 20px rgba(0, 0, 0, 0.3)) !important;
  }


  .cta-mini {
    font-size: 15px !important;
    text-align: center;
  }

  .nav-tab-bg {
    width: 100%;
    height: 100%;
  }

  .tab-selected {
    border-left: 5px solid #ffffff;
    border-bottom: none !important;
    padding: 25px 0 25px 35px;
    background: rgba(103, 103, 103, 0.109);
    width: 500%;
  }

  .nav-side-padding {
    margin: 0 0 0 40px;
  }

  .overlay {
    padding: 0px 40px !important;
  }

  .carousel-text {
    margin-top: 20px !important;
    text-align: center !important;
  }


  .carousel-image {
    height: 320px !important;
    justify-content: center;
  }

  #petCarousel h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800 !important;
    font-size: 40px !important;
  }


  .carousel-text p {
    font-size: 20px !important;

  }

  #category #petCarousel p {
    text-align: center !important;
  }

  #cards .btn-orange {
    padding: 10px 40px 10px 40px !important;
  }

  #cards h2,
  h3 {
    font-size: 35px !important;
    font-weight: 700px;
  }



  #cards p {
    font-size: 20px !important;
  }

  footer {
    height: 1200px !important;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%) !important;
    padding: 45px 20px 45px 20px !important;
  }

  #socmed {
    padding: 0 38px;
    text-align: center;
  }

  .footer-icon {
    margin: 0 !important;
    padding: 0 10px !important;
  }

  .footer-contain h3 {
    font-weight: 700 !important;
    font-size: 25px !important;
    margin: 0 !important;
  }

  .footer-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin: 0 42% !important;
  }

  #footer-store img {
    width: 150px !important;
    margin-bottom: 10px;
  }

  .welcome-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-button .btn-orange {
    width: 300px;
  }

  #contact .wrapper {
    margin: 0 20px !important;
  }

  #contact p {
    font-size: 15px !important;
    text-align: center !important;
  }

  .fill-out-contact {
    margin-left: 0px !important;
  }

  .heading-text {
    font-size: 30px !important;
    padding: 20px !important;
  }

  .about-us img {
    height: 270px !important;
  }

  .heading-text2 {
    font-size: 35px !important;
    padding: 20px !important;
  }

  .long-text {
    text-align: justify;
    font-size: 15px !important;
    padding: 0px 20px !important;
  }

  #aboutUs .col-lg-4 img {
    height: 100px !important;
    margin-top: 10px !important;
  }

  .developer-text h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
  }

  .developer-text p {
    font-size: 15px !important;
  }

  .flex-row {
    display: flex;
    flex-direction: row !important;
  }

  .sale-bg {
    border: 10px solid white !important;
    height: 355px !important;
    margin: 0px 0 90px 0;
  }

  .btn-plus-minus {
    padding: 0 !important;
  }

  .btn-add-cart {
    font-size: 15px !important;
    padding: 5px !important;
  }

  #onSale .btn {
    line-height: 0 !important;

  }

  #policy .wrapper{
    margin: 50px !important;
  }

  #policy .heading-text2{
    padding: 0 !important;
  }

  #policy p{
    font-size: 15px !important;
  }
}

.search-nav-container .row {
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.nav-h4 {
  margin-top: -15px;
}

.shop-all {
  margin-left: auto !important;
  width: auto !important;
}

.btn {
  border-radius: 15px;
  background-color: #FFFFFF;
  border: #FFFFFF;
}

.flex {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;


  color: #FFFFFF;
}

.search {
  width: 100%;
  max-width: 700px;
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px 0 0 50px;
}


.search-login {
  padding-top: 20px !important;
  padding-left: 53px !important;
}

.search input {
  background: transparent;
  border: 0;
  flex: 1;
  outline: none;
  padding: 24px 0px;
}

.search-button img {
  width: 25px;
}

.search-button {
  border: 0;
  border-radius: 0 50px 50px 0;
  height: 40px;
  width: 60px;
  background: white;
  margin-inline-end: 35px;
}

.search-button:hover {
  background: #FE9846;
  ;
}

.dropdown-menu {
  border-radius: 15px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 15px;
}

.input-group .btn {
  position: relative;
  z-index: 2;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn {
  border-radius: 15px;
  background-color: #FFFFFF;
  border: #FFFFFF;
}

.btn-outline-secondary {

  background-color: #FFFFFF;
}

.btn-outline-secondary:hover {
  background: #FF9E46F2;
}

.form-control {
  border-radius: 15px;
}

/* CALL TO ACTION */

.hi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cta-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 52px;
  color: #FFFFFF;
  text-shadow: 0px 4px 57px rgba(0, 0, 0, 0.47);
}

.cta-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #515151;
}

.cta-email {
  width: 100%;
  max-width: 400px;
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px 0 0 50px;
}

.cta-email input {
  background: transparent;
  border: 0;
  flex: 1;
  outline: none;
  padding: 24px 0px;
}

.cta-mini {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.cta-search {
  display: flex;
  flex-direction: row;
}

.left a {
  text-decoration: none;
  color: #FE9846;
  font-weight: 600;
}

.left .form-control {
  border: #FFFFFF;
}



.right img {
  filter: drop-shadow(-5px 5px 20px rgba(255, 255, 255, 0.4));
}




.drp-shdw {
  filter: drop-shadow(-5px 5px 20px rgba(93, 93, 93, 0.609));
}


/* CAROUSEL*/

#category {
  margin-bottom: 100px;
}

#category #petCarousel p {
  text-align: left;
}

.break {
  background-color: white;
  padding: 3px 30px;
  z-index: 10;
  position: relative;
}

#shopBreak {
  margin-top: 5%;
}

#shopBreak .break {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}



.breaking-line {
  margin: -38px auto 70px auto;
  max-width: 1250px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  color: #000;
  border: 1px solid black;
  opacity: 100%;
}

#category h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;

}

.carousel-item-bg1 {
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/catdogoBG.svg");
  color: white;
  position: relative;
}

.carousel-item-bg2 {
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/Mask\ group.svg");
  color: white;
  position: relative;
}

.carousel-item-bg3 {
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/toysBg.svg");
  color: white;
  position: relative;
}

.overlay {
  margin: 75px 0;
  padding: 70px 200px;
  background-color: rgba(187, 209, 231, 0.5);
  max-width: 100%;
  height: 80%
}

#petCarousel h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;

}

.carousel-image {
  display: flex;
  height: 500px;
  flex-flow: row-reverse;
}

.carousel-text {
  margin-top: 70px;
  text-shadow: 0px 4px 57px rgb(109, 109, 109);
}

.carousel-text p {
  font-size: 25px;
}

.btn-orange {
  background: rgba(255, 158, 70, 0.95);
  border-radius: 10px;
  padding: 15px 80px;
  color: white;
  border: none;
  mix-blend-mode: normal;
  border-radius: 10px;
  transition-duration: 500ms;
}

.btn-orange:hover {
  background-color: #FFFFFF;
  color: #000;
}


/* CARDS */


#cards {
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}


.card-bg1 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/bone.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.437);
  padding: 45px;
  position: relative;
}

.card-content {
  position: absolute;
  bottom: 45px;
  left: 45px;
}


.card-bg2 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg3 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg4 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg5 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg6 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg7 {
  border: 20px solid white;
  height: 450px;
  background-image: url("images/cards/card-bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#cards h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  color: white;
}

#cards h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: left;
  color: white;
}


#cards hr {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  opacity: 100%;
  border-radius: 10px;
}

#cards p {
  color: #FFFFFF;
  font-size: 25px;
  text-align: left !important;
}

#cards .btn-orange {
  background: rgba(255, 158, 70, 0.95);
  border-radius: 10px;
  padding: 15px 95px;
  color: white;
  border: none;
  border-radius: 10px;
  transition-duration: 500ms;
}

#cards .btn-orange:hover {
  background-color: #FFFFFF;
  color: #000;
}


/* ON SALE */
#onSale h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

#onSale {
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.sale-bg {
  border: 15px solid white;
  height: 460px;
}

.sale-inside {
  width: 100%;
  height: 100%;
  background: rgba(246, 246, 246, 1);
  overflow: hidden;
  padding: 60px 0;
  position: relative;


}

.sale-img-sml {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sale-img-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

.sale-img-xl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row hr {
  border: 1px solid rgb(0, 0, 0);
  opacity: 100%;
  border-radius: 10px;
  margin: 0;
}

#onSale h6 {
  text-align: center;
}

#onSale p {
  text-align: center;
  margin-bottom: 0;
}
.sale-btn-pos p{
  font-size: 20px !important;
  font-weight: 700 !important;
}

.sale-detail {
  background-color: #FFFFFF;
  padding: 10px;
}

.btn-plus-minus {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: #FFFFFF;
  padding: 5px 0;
  border: 1px solid black;
}


.btn-add-cart {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 158, 70, 0.95);
  color: white;
  border: none;
  transition-duration: 500ms;
}

.btn-add-cart:hover {
  background-color: #FFFFFF;
  color: #000;
}

.sale-btns-pos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(30, 50, 59, 0.9), rgba(30, 50, 59, 0.9)), url(images/banner.png);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 180px 100px 180px;
}

.footer-contain h3 {
  font-weight: 900;
  color: white;
}

.footer-contain h4 {
  font-weight: 700;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}

.footer-contain p {
  font-size: 20px;
  color: white;
  text-align: justify !important;
}

.footer-contain br {
  margin-bottom: 10px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.footer-icon {
  margin: 0 40px 0 0;
  margin-bottom: 40px;
}


.footer-logo {
  max-width: 130px;
}

.footer-input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding: 0 15px;
}

.footer-btn {
  background: rgba(255, 158, 70, 0.95);
  border-radius: 10px;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  color: white;
  border: none;
  mix-blend-mode: normal;
  border-radius: 10px;
  transition-duration: 500ms;
}

/* sign up */

.bg-login {
  background-image: url("images/login/cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.bg-signup {
  background-image: url("images/login/dog.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.login-overlay {
  background-color: rgba(0, 0, 0, 0.500);
  background-size: cover;
  width: 100%;
  height: 790px;

}

.close {
  position: absolute;
  top: 15%;
  left: 80%;
}

.close button {
  background: none;
  border: none;
}

.lg-center {
  width: 430px;
  height: 400px;
  position: absolute;
  top: 15%;
  left: 37%;
  padding: 50px;
}

.lg-center p {
  color: white;
}

.lg-center-password {
  width: 430px;
  height: 400px;
  position: absolute;
  top: 15%;
  left: 37%;
  padding: 10% .5%;
}

.lg-center-password h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #FFFFFF;
  text-shadow: 0px 4px 57px rgba(0, 0, 0, 0.47);
  margin-bottom: 30px;

}

.lg-center h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #FFFFFF;
  text-shadow: 0px 4px 57px rgba(0, 0, 0, 0.47);

}

.lg-center .line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lg-center hr {
  border: 0;
  border-top: 1px solid rgb(255, 255, 255);
  flex: 1;
  z-index: 1;
  opacity: 100%;
}

.lg-center h5:after {
  font-size: 30px;
  padding: 20px;
  color: black;
  display: inline-block;
}

.lg-center h2,
h5 {
  margin-bottom: 10px;
  padding: 10px 10px;
  color: white;
}


.btn-facebook {
  width: 100%;
  background-color: rgba(59, 89, 152, 1);
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  color: white;

}

.btn-google {
  width: 100%;
  background-color: rgba(66, 133, 244, 1);
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  color: white;

}

.btn-facebook img {
  position: absolute;
  left: 80px;
}

.btn-google img {
  position: absolute;
  left: 80px;
}

.lg-center span {
  margin: 0 0 0 30px;
}

.btn-email {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #000;
  padding: 15px;

}

.btn-email h6 {
  margin: 0;
}

.lg-email h5 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
}

.lg-email .emailAdd {
  color: white;
  width: 100%;
  fill: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 30px;
}



.option {
  margin: 0 20px;
}


/* HOME */

.btn-drop {
  background: none;
  color: white;
  border-radius: 0px;
  border: none;
  margin: 5px 0 0 2px;
}

.btn-drop:hover {
  background: none;
  border-color: none;
}

.wa {
  display: flex;
}

.dropdown-item {
  font-size: 15px;
}

.tab-selected {
  font-weight: 600;
  border-bottom: 3px solid white;
}

.tab-button {
  background: none;
  border: none;
  color: white;
}


.header-bg {
  background-image: linear-gradient(rgba(90, 151, 177, 0.731), rgba(90, 151, 177, 0.731)), url(images/banner.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
}

.header-overlay {
  background-color: rgba(90, 151, 177, 0.731);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  padding-top: 20px;
  border-bottom: 100px;
}


.wrapper-shopping {
  width: 100%;
  margin: 0 auto;
}



.shopping-tab {
  width: 1250px;
  margin: -60px auto 0 auto;
  gap: 20px;
  display: flex;
}

.selection {
  font-weight: 500;
  font-size: 21px;
  background: none;
  border: none;
  height: 60px;
}

.selection-btn-1 {
  position: relative;
  z-index: 10;
  font-weight: bold;
  padding-top: 7px;
  background-color: #ffffff;
  width: 250px;
  border-radius: 35px 35px 0 0;
  box-shadow: 10px 0 rgba(0, 0, 0, 0.354);
}

.selection-btn-2 {
  position: relative;
  z-index: 9;
  background-color: #dadada;
  width: 250px;
  border-radius: 35px 35px 0 0;
  margin-left: -125px;
  text-align: right;
  padding-right: 50px;
  box-shadow: 10px 0 rgba(0, 0, 0, 0.354);
}

.selection-btn-3 {
  position: relative;
  z-index: 8;
  background-color: #b0b0b0;
  width: 250px;
  border-radius: 35px 35px 0 0;
  margin-left: -125px;
  text-align: right;
  padding-right: 50px;
  box-shadow: 10px 0 rgba(0, 0, 0, 0.527);
}

.selection-btn-4 {
  position: relative;
  z-index: 9;
  background-color: #dadada;
  width: 250px;
  border-radius: 35px 35px 0 0;
  margin-right: -100px;
  text-align: left;
  padding-left: 50px;
}

.selection-btn-5 {
  position: relative;
  z-index: 9;
  background-color: #b0b0b0;
  width: 250px;
  border-radius: 35px 35px 0 0;
  margin-right: -100px;
  text-align: left;
  padding-left: 50px;
}

.tabs-content {
  display: none;
}

.tabs-content-active {
  display: block;
}

.sidebar {
  flex-shrink: 0;
}

.filter-btn {
  background: none;
  border: none;
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
}

.filter-btn-active {
  font-weight: bold;
  border-right: 2px solid #FE9846;
  background: #f5f5f5;
}


.sale-section h6,
p {
  text-align: center;
}

.col-lg-2 h5 {
  color: #000;
  padding: 0 0 10px 0;
}

.col-lg-2 hr {
  opacity: 70%;
  margin: 0 0 20px 0;
  width: 100%;
}

.col-lg-2 a {
  color: #000;
}

.flex-column {
  flex-direction: column;
}

.preview-flex {
  display: flex;
  flex-direction: column;
}

#contact {
  margin-top: 5%;
}

#contact .break {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}


/* about us */

#aboutUs {
  margin-top: 5%;
}

.long-text {
  text-align: justify;
  font-size: 21px;
  padding-right: 100px;
}

#aboutUs hr {
  margin: 40px 0 40px 0;
}

.heading-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.heading-text2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.about-us img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutUs .col-lg-4 img {
  height: 215px;
  width: auto;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 30px;
}

.developer-text {
  text-align: center;
}

.developer-text h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  margin: 0;

}

.developer-text p {
  font-size: 20px;
  text-align: center;
}

#aboutUs .break {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}

#aboutUs .breaking-line {
  margin: -38px auto 70px auto;
  max-width: 1250px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  color: #000;
  border: 1px solid black;
  opacity: 100%;
}


#contact p {
  margin: 0;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.05em;
}

#contact .wrapper {
  margin: 0 300px
}

#contact hr {
  margin: 60px 0 60px 0;
}



#contact .btn-email {
  width: 200px;
  background-color: rgba(255, 158, 70, 0.95);
  border: none;
  color: #000;
  padding: 15px;
}

#contact .btn-email h6 {
  margin: 0;
}

#contact .lg-email h5 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
  color: #000;
}

#contact .lg-email .emailAdd {
  color: rgb(0, 0, 0);
  width: 100%;
  fill: none;
  background: transparent;
  border: none;
  border: 1px solid rgb(0, 0, 0);
  font-size: 25px;
  margin-bottom: 30px;
}

#contact textarea {
  border: 1px solid #000;
  width: 100%;
  margin: 0 0 20px 0;
  height: 200px;
}

.fill-out-contact {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.small-text {
  text-align: right !important;
  font-size: 14px !important;
}

/* Policy */

#policy {
  margin: 5% 0 0 0;
}

#policy .wrapper {
  margin: 0 300px;
}

#policy p {
  text-align: justify !important;
  font-size: 25px;
}

.products-preview {
  display: none;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.products-preview .preview {
  display: none;
  background: #FFFFFF;
  padding: 3rem 5rem;
  margin: 5% auto;
  width: 90%;
  position: relative;
  background: rgba(246, 246, 246, 1);
}

.products-preview .preview.active {
  display: flex !important;
}

.product {
  padding: 35px 0px;
  cursor: pointer;
  background: rgba(246, 246, 246, 1);
  height: 300px;
}


.product img {
  display: block;
  margin: 0 auto;
}



.products-preview .preview img {
  width: 300px;
  display: block;
  margin: 35px auto;
}

.products-preview .preview h1 {
  color: rgb(255, 159, 70);
  margin: 0;
  font-weight: 700;
}

.products-preview .preview h6 {
  margin: 0;
  text-align: left !important;
}

.products-preview .preview h2 {
  font-weight: 600 !important;
  margin: 20px 0 20px 0;
  text-align: left !important;
}

.products-preview .preview .btn-plus-minus {
  margin: 0 0 20px 0;
  width: 30%;
}

.products-preview .preview .btn-add-cart {
  width: 100%;
  margin: 0 0 20px 0;
}

.products-preview .preview p {
  text-align: left !important;
}

.products-preview #socmed {
  margin: 40px 0 0 0;
}

.products-preview #socmed i {
  margin: 0 10px 0 0;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

.fa-whatsapp {
  color: green;
}

.fa-facebook {
  color: rgba(61, 106, 214, 1);
}

.fa-twitter {
  color: rgba(3, 169, 244, 1);
}

.fa-pinterest {
  color: rgba(203, 31, 36, 1);
}

.fa-bot {
  padding: 75px 20px 0 0;
}
#cart-icon{
  cursor: pointer;
}

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-image: linear-gradient(rgba(187, 209, 231, 0.700), #fe9946c0);
  backdrop-filter: blur(1rem);
  box-shadow: -2px 0 4px hsl(0 4% 15%/ 10%);
  z-index: 9999;
  transition: .3s;
  overflow: hidden;
  overflow-y: scroll;
}

.cart.active{
  right: 0;
  
}

.cart-content{

}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img{
  height: 100px;
  width: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box{
  display: grid;
  row-gap: .5rem;
}

.cart-product-title{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.cart-price{
  font-weight: 600;
}

.cart-quantity{
  border: 2px solid #fe8346;
  outline-color: rgb(0, 0, 0);
  width: 4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  cursor: pointer;
  color:#fe4646;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.805);
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: rgba(255, 158, 70, 0.95);
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  transition-duration: 500ms;
  border-radius: 10px;
}
.btn-buy:hover{
  background: #f5f5f5; 
  color: black
}
#close-cart{
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  font-size: 25px;
  cursor: pointer;
}